<div *ngIf="item">
  <h2>{{item.name}} details!</h2>
  <div>
    <label>id: </label>{{item.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="item.name" placeholder="name" />
   </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>

<div *ngIf="sideitems" class="sidebar" style="position: absolute; top: 80px; right: 0;">
<h3>My SidebarItems</h3>
<div>
  <label>Item name:</label> <input #itemName />
  <button (click)="add(itemName.value); itemName.value=''">
    Add
  </button>
</div>
<div>${{getTotal(sideitems)}}</div>
<ul class="items">
  <li *ngFor="let item of sideitems" (click)="onSelect(item)"
      [class.selected]="item === selectedItem">
    <span class="badge">{{item.id}}</span>
    <span>{{item.name}}</span>
    <span>{{item.cost}}</span>
    <button class="delete"
      (click)="delete(item); $event.stopPropagation()">x</button>
  </li>
</ul>
</div>

<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
