<div id="search-component">
  <h4>Item Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let item of items | async"
         (click)="gotoDetail(item)" class="search-result" >
      {{item.name}}
    </div>
  </div>
</div>


<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
